<footer class="footer_wrapper">
    <section class="footer container">
        <div class="footer__nav_wrapper">
            <a href="index.html" class="footer__logo">
                <img src="./images/footer/logo.svg" alt="Лечебно-диагностический центр STK" />
            </a>

            <nav class="footer__nav_menu">
                <div class="footer__nav_menu_center">
                    <a href="#doctors" class="footer__nav_menu-item">Врачи</a>
                    <a href="#price" class="footer__nav_menu-item">Стоимость</a>
                    <a href="#feedback" class="footer__nav_menu-item">Отзывы</a>
                </div>

                <div class="footer__nav_menu_right">
                    <a href="#" class="footer__nav_menu-item">Лицензии</a>
                    <a href="#" class="footer__nav_menu-item">Документы</a>
                </div>
            </nav>
        </div>

        <div class="footer__nav_info">
            <p class="footer__nav_info-text">
                Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер
                и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского
                кодекса Российской Федерации.
            </p>

            <span class="footer__nav_info-item">
                ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА.
            </span>
        </div>

        <div class="footer__nav_bottom">
            <div class="footer__nav_bottom-info">
                <span>ООО "МКГЦ оториноларингологии и эстетической медицины"</span>

                <a href="#">
                    Политика обработки персональных данных
                </a>

                <span>2022 &#169 Лечебно-диагностический центр STK</span>
            </div>

            <div class="footer__nav_bottom-insurance">
                <span class="footer__nav_bottom-insurance-title">Работаем по ДМС</span>

                <div class="footer__nav_bottom-insurance-partners">
                    <img src="./images/footer/insurance1.png" alt="Страхование">

                    <img src="./images/footer/insurance2.png" alt="Страхование">

                    <img src="./images/footer/insurance3.png" alt="Страхование">

                    <img src="./images/footer/insurance4.png" alt="Страхование">

                    <img src="./images/footer/insurance5.png" alt="Страхование">

                </div>
            </div>
        </div>
    </section>
</footer>