<header class="header_wrapper">
    <div class="header container">
        <a href="index.html" class="header__logo">
            <img src="./images/header/logo.svg" alt="Лечебно-диагностический центр STK" />
        </a>

        <nav class="header__menu">
            <a href="#" class="header__menu-item">Врачи</a>
            <a href="#" class="header__menu-item">Стоимость</a>
            <a href="#" class="header__menu-item">Отзывы</a>
        </nav>

        <div class="header__info">
            <div class="header__info-box">
                <a href="tel:88462125060" class="header__info-phone">
                    <img src="./images/header/call.svg" alt="Позвонить">
                    8 (846) 212-50-60
                </a>
                <address class="header__info-address">
                    г. Самара, ул. Тухачевского, д.80, оф.1
                </address>
            </div>
            <a href="#" class="header__info-btn">Записаться</a>
        </div>
    </div>
</header>