<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STK</title>
  <script src="https://kit.fontawesome.com/e65b4061d1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/index.min.css">
</head>

<body>
  {% include "templates/_base/_header.html" %}

  <main>
    <div class="hero_wrapper">
      <section class="hero container">
        <div class="hero__box">
          <span class="hero__item">
            Консультация оториноларинголога
          </span>

          <h1 class="hero__title">
            <span class="hero__title_item">
              Запишитесь на осмотр к лору
            </span>

            <span class="hero__title_item-accent">
              в Самаре со скидкой 10%
            </span>
          </h1>

          <p class="hero__text">
            Доверьте здоровье своей семьи квалифицированным специалистам и докторам наук со стажем до 34 лет
          </p>

          <a href="#" class="button btn-accent hero__btn">
            Записаться на консультацию
            <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться на консультацию">
          </a>

          <div class="hero__info">
            <div class="hero__info-column">
              <span>5970+</span>
              пациентов в год
            </div>

            <div class="hero__info-column hero__info-column-center">
              <span class="hero__info-column">986</span>
              операций
            </div>

            <div class="hero__info-column">
              <span>40</span>
              лет врачебной практики
            </div>
          </div>
        </div>

        <div class="hero__bottombox"></div>
      </section>
    </div>

    <div class="about_wrapper">
      <section class="about container">
        <h4 class="section__title about__title">
          Почему мы
        </h4>

        <div class="about__box">
          <h2 class="about__box_title">
            Вот почему вы можете
            <span>нам довериться</span>
          </h2>

          <p class="about__box_text">
            Лечебно-диагностический центр «STK» - это современная клиника европейского уровня. Работу в центре ведут
            врачи общей и узкой специализации, имеющие высокую квалификацию.
          </p>

          <p class="about__box_text">
            Преимущественно наши сотрудники имеют степень доктора или кандидата медицинских наук и профессиональный
            опыт — 25–40 лет.
          </p>

          <div class="about__cards">
            <div class="about__card">
              <img class="about__card-img" src="./images/about/doc.svg" alt="Врачи высших категорий">

              <h3 class="about__card-title">Врачи высших категорий</h3>

              <p class="about__card-text">
                Преимущественно наши сотрудники имеют степень доктора или кандидата медицинских наук
              </p>
            </div>

            <div class="about__card">
              <img class="about__card-img" src="./images/about/microscope.svg" alt="Премиальное оборудование">

              <h3 class="about__card-title">Премиальное оборудование</h3>

              <p class="about__card-text">
                Новейшие инструменты для углублённой диагностики и эффективного лечения
              </p>
            </div>

            <div class="about__card">
              <img class="about__card-img" src="./images/about/city_worker.svg" alt="Экспертный подход">

              <h3 class="about__card-title">Экспертный подход</h3>

              <p class="about__card-text">
                Применение классических и уникальных методик в комфортной и доброжелательной атмосфере
              </p>
            </div>

            <div class="about__card">
              <img class="about__card-img" src="./images/about/inpatient.svg" alt="Новейшие операционные">

              <h3 class="about__card-title">Новейшие операционные</h3>

              <p class="about__card-text">
                Хирургические операции с применением инновационных технологий
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  {% include "templates/_base/_footer.html" %}

  <script src="./js/index.min.js"></script>
</body>

</html>