<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STK</title>
  <script src="https://kit.fontawesome.com/e65b4061d1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./css/index.min.css">
</head>

<body>
  {% include "templates/_base/_header.html" %}

  <main>
    <div class="hero_wrapper">
      <section class="hero container">
        <div class="hero__box">
          <span class="hero__item">
            Консультация оториноларинголога
          </span>

          <h1 class="hero__title">
            <span class="hero__title_item">
              Запишитесь на осмотр к лору
            </span>

            <span class="hero__title_item-accent">
              в Самаре со скидкой 10%
            </span>
          </h1>

          <p class="hero__text">
            Доверьте здоровье своей семьи квалифицированным специалистам и докторам наук со стажем до 34 лет
          </p>

          <a href="#" class="button btn-accent hero__btn">
            Записаться на консультацию
            <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться на консультацию">
          </a>

          <div class="hero__info">
            <div class="hero__info-column">
              <span>5970+</span>
              пациентов в год
            </div>

            <div class="hero__info-column hero__info-column-center">
              <span class="hero__info-column">986</span>
              операций
            </div>

            <div class="hero__info-column">
              <span>40</span>
              лет врачебной практики
            </div>
          </div>
        </div>

        <div class="hero__bottombox"></div>
      </section>
    </div>

    <div class="about_wrapper">
      <section class="about container">
        <h4 class="section__title about__title">
          Почему мы
        </h4>

        <div class="about__box">
          <h2 class="about__box_title">
            Вот почему вы можете
            <span>нам довериться</span>
          </h2>

          <p class="about__box_text">
            Лечебно-диагностический центр «STK» - это современная клиника европейского уровня. Работу в центре ведут
            врачи общей и узкой специализации, имеющие высокую квалификацию.
          </p>

          <p class="about__box_text">
            Преимущественно наши сотрудники имеют степень доктора или кандидата медицинских наук и профессиональный
            опыт — 25–40 лет.
          </p>

          <div class="about__cards">
            <div class="about__card">
              <img class="about__card-img" src="./images/about/doc.svg" alt="Врачи высших категорий">

              <h3 class="about__card-title">Врачи высших категорий</h3>

              <p class="about__card-text">
                Преимущественно наши сотрудники имеют степень доктора или кандидата медицинских наук
              </p>
            </div>

            <div class="about__card">
              <img class="about__card-img" src="./images/about/microscope.svg" alt="Премиальное оборудование">

              <h3 class="about__card-title">Премиальное оборудование</h3>

              <p class="about__card-text">
                Новейшие инструменты для углублённой диагностики и эффективного лечения
              </p>
            </div>

            <div class="about__card">
              <img class="about__card-img" src="./images/about/city_worker.svg" alt="Экспертный подход">

              <h3 class="about__card-title">Экспертный подход</h3>

              <p class="about__card-text">
                Применение классических и уникальных методик в комфортной и доброжелательной атмосфере
              </p>
            </div>

            <div class="about__card">
              <img class="about__card-img" src="./images/about/inpatient.svg" alt="Новейшие операционные">

              <h3 class="about__card-title">Новейшие операционные</h3>

              <p class="about__card-text">
                Хирургические операции с применением инновационных технологий
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="doctors container" id="doctors">
      <h4 class="section__title doctors__title">
        Врачи
      </h4>

      <div class="doctors__box">
        <h2 class="doctors__box_title">
          Вас будут лечить
          <span>высоко квалифицированные</span>
          специалисты
        </h2>

        <p class="doctors__box_text">
          Врачи в нашей клинике в совершенстве владеют многими методиками лечения и ежегодно помогают тысячам пациентов
        </p>
      </div>

      <div class="swiper doctors-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide doctor_slide">
            <div class="doctors__box_card doctor_card">
              <div class="doctors__box_card-experience">Стаж: 34 года</div>
              <img class="" src="./images/doctors/IvanovSergey.jpg" alt="Иванов Сергей Львович">
              <span>Иванов Сергей Львович</span>
            </div>

            <div class="doctor_info">
              <span class="doctor_info__name">
                Иванов Сергей Львович
              </span>

              <p class="doctor_info__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>

              <a class="button btn-doctor" href="#">
                Записаться
                <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться">
              </a>
            </div>
          </div>

          <div class="swiper-slide doctor_slide">
            <div class="doctors__box_card doctor_card">
              <div class="doctors__box_card-experience">Стаж: 6 лет</div>
              <img src="./images/doctors/KukolkinaValentina.jpg" alt="Куколкина Валентина Владимировна">
              <span>Куколкина Валентина Владимировна</span>
            </div>

            <div class="doctor_info">
              <span class="doctor_info__name">
                Куколкина Валентина Владимировна
              </span>

              <p class="doctor_info__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo quibusdam deserunt libero, amet
                tempora, recusandae
              </p>

              <a class="button btn-doctor" href="#">
                Записаться
                <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться">
              </a>
            </div>
          </div>

          <div class="swiper-slide doctor_slide">
            <div class="doctors__box_card doctor_card">
              <div class="doctors__box_card-experience">Стаж: 15 лет</div>
              <img src="./images/doctors/NarymbaevOryngali.jpg" alt="Нарымбаев Орынгали Хасанович">
              <span>Нарымбаев Орынгали Хасанович</span>
            </div>

            <div class="doctor_info">
              <span class="doctor_info__name">
                Нарымбаев Орынгали Хасанович
              </span>

              <p class="doctor_info__text">
                Врач оториноларинголог, высшая квалификационная категория
              </p>

              <a class="button btn-doctor" href="#">
                Записаться
                <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться">
              </a>
            </div>
          </div>

          <div class="swiper-slide doctor_slide">
            <div class="doctors__box_card doctor_card">
              <div class="doctors__box_card-experience">Стаж: 12 лет</div>
              <img src="./images/doctors/SashninaNatalya.jpg" alt="Сашнина Наталья Павловна">
              <span>Сашнина Наталья Павловна</span>
            </div>

            <div class="doctor_info">
              <span class="doctor_info__name">
                Сашнина Наталья Павловна
              </span>

              <p class="doctor_info__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut perspiciatis, consequuntur impedit fuga
                consectetur deleniti expedita voluptatem facilis veritatis corrupti accusantium, aliquam exercitationem,
              </p>

              <a class="button btn-doctor" href="#">
                Записаться
                <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="doctors_swiper__mobile">
        <div class="swiper-button-next doctors__button-next doctors__btn"></div>
        <div class="swiper-button-prev doctors__button-prev doctors__btn"></div>

        <div class="swiper-pagination doctors__swiper-pagination"></div>
      </div>
    </section>

    <section class="diplomas container" id="test">
      <div class="diplomas__box">
        <h2 class="diplomas__box_title">
          <span>Дипломы&nbsp</span>
          наших специалистов
        </h2>

        <div class="diplomas__box_navigation">
          <div class="swiper-button-next diplomas-button-next"></div>
          <div class="swiper-button-prev diplomas-button-prev"></div>
        </div>
      </div>

      <div class="swiper diplomas-swiper">
        <div class="swiper-wrapper diplomas-swiper__slides">
          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas1.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas2.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas3.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas4.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas5.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas6.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas3.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas4.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas5.jpg" alt="diplomas">
          </div>

          <div class="swiper-slide diplomas-slide">
            <img src="./images/diplomas/diplomas6.jpg" alt="diplomas">
          </div>
        </div>

        <div class="swiper-pagination diplomas-swiper-pagination"></div>
      </div>

      <div class="diplomas__navigation">
        <div class="diplomas__box_navigation-mobile">
          <div class="swiper-button-next diplomas-button-next"></div>
          <div class="swiper-button-prev diplomas-button-prev"></div>
        </div>
      </div>
    </section>

    <div class="promotions_wrapper">
      <section class="promotions container">
        <h4 class="section__title promotions__title">Акции</h4>

        <h2 class="section__title promotions__header">
          Запишитесь на прием к лору
          со скидкой 10% в этом месяце
        </h2>

        <form class="promotions__form">
          <input class="promotions__form-input" type="text" placeholder="Имя и Фамилия">

          <input class="promotions__form-input" type="tel" placeholder="Номер телефона">

          <div class="promotions__form-check">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox">

              <span>
                Я согласен
                <a href="#" target="_blank">
                  на обработку персональных данных
                </a>
              </span>
            </label>
          </div>

          <div class="promotions__form-regist">
            <a href="#" class="button btn-white promotions__btn">
              Записаться на консультацию
              <img src="./images/general/ArrowNarrowRightOutline Darkaccent.png" alt="Записться на консультацию">
            </a>

            <div class="promotions__form-regist_price">
              <span class="price__old">1800 &#8381</span>
              <span class="price__new">1620 &#8381</span>
            </div>
          </div>
        </form>
      </section>

      <div class="promotions__image">
        <img src="./images/promotions/promotions.jpg" alt="Записаться на консультацию">
      </div>

    </div>

    <section class="description container">
      <p class="description__text">
        Оториноларингология — это область медицины, занимающаяся диагностикой и лечением заболеваний одних
        из важнейших
        органов человеческого организма — уха, горла и носа. Важность ЛОР-органов обусловлена осуществлением многих
        функций: слух, речь, проводимость воздуха и пищи, обоняние, равновесие.
      </p>

      <p class="description__text">
        Своевременное и качественное лечение ЛОР-заболеваний способно сохранить не только здоровье, но и сделать жизнь
        более полноценной.
      </p>
    </section>

    <div class="visit_wrapper">
      <section class="visit container">
        <h4 class="section__title visit__title">
          когда идти к лору
        </h4>

        <div class="visit__box">
          <h2 class="visit__box_title">
            С какими жалобами и патологиями
            <span>нужно обратиться ко врачу</span>
          </h2>
        </div>

        <div class="problems__box">
          <img class="problems__box_img" src="./images/visit/problems1.jpg" alt="Жалобы">

          <div class="problems__box_content">
            <p class="problems__box_content-text">
              Если у вас появился хотя бы один из перечисленных симптомов, следует незамедлительно обратиться
              к специалисту, чтобы лечение было своевременным и наиболее эффективным:
            </p>

            <ul class="problems__box_content-list">
              <li class="problems__box_content-list_item">
                Боль и отделяемое из уха
              </li>

              <li class="problems__box_content-list_item">
                Снижение слуха (особенно внезапное)
              </li>

              <li class="problems__box_content-list_item">
                Заложенность носа, не связанная с ОРЗ
              </li>

              <li class="problems__box_content-list_item">
                Появление патологического отделяемого из носа
              </li>

              <li class="problems__box_content-list_item">
                Боль в проекции околоносовых пазух
              </li>

              <li class="problems__box_content-list_item">
                Боль в глотке и гортани
              </li>

              <li class="problems__box_content-list_item">
                Изменение голоса
              </li>

              <li class="problems__box_content-list_item">
                Наличие воспалительных инфильтратов и новообразований ЛОР органов
              </li>
            </ul>
          </div>
        </div>

        <div class="problems__box">
          <img class="problems__box_img" src="./images/visit/problems2.jpg" alt="Жалобы">

          <div class="problems__box_content">
            <p class="problems__box_content-text">
              Также наш врач оториноларинголог поможет вам в лечении следующих болезней:
            </p>

            <ul class="problems__box_content-list">
              <li class="problems__box_content-list_item">
                Ринит (острое и хроническое воспаление слизистой оболочки носа)
              </li>

              <li class="problems__box_content-list_item">
                Отит (воспалительный процесс в наружном, среднем и внутреннем ухе)
              </li>

              <li class="problems__box_content-list_item">
                Синусит (острое и хроническое воспаление околоносовых пазух)
              </li>

              <li class="problems__box_content-list_item">
                Острый и хронический тонзиллит
              </li>

              <li class="problems__box_content-list_item">
                Фарингит, ларингит (острое и хроническое воспаление слизистой оболочки глотки и гортани)
              </li>

              <li class="problems__box_content-list_item">
                Новообразования ЛОР органов
              </li>

              <li class="problems__box_content-list_item">
                Нарушение носового дыхания
              </li>

              <li class="problems__box_content-list_item">
                Различные виды снижения слуха
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <div class="consultation_wrapper">
      <section class="consultation container">
        <h4 class="section__title consultation__title">
          Консультация
        </h4>

        <div class="consultation__box">
          <h2 class="consultation__box_title">
            Как проходит прием
            <span>оториноларинголога</span>
          </h2>
        </div>

        <div class="consultation__info">
          <div class="consultation__info_items">
            <span class="consultation__info_items-num">01</span>

            <p class="consultation__info_items-text">
              Изучение жалоб и истории болезни пациента
            </p>
          </div>

          <div class="consultation__info_items">
            <span class="consultation__info_items-num">02</span>

            <p class="consultation__info_items-text">
              Визуальный осмотр уха, носа, глотки и гортани с применением видеоэндоскопического оборудования
            </p>
          </div>

          <div class="consultation__info_items">
            <span class="consultation__info_items-num">03</span>

            <p class="consultation__info_items-text">
              Для уточнения диагноза могут быть назначены лабораторные исследования, консультации других специалистов
              и рентгенологическое исследование
            </p>
          </div>

          <div class="consultation__info_items">
            <span class="consultation__info_items-num">04</span>

            <p class="consultation__info_items-text">
              Установив причину болезни, врач пропишет эффективное лечение для скорейшего выздоровления пациента
            </p>
          </div>
        </div>
      </section>
    </div>

    <section class="description container">
      <p class="description__text">
        Применение видеоэндоскопии в лечении патологии носа и околоносовых пазух позволяет выявить самые минимальные
        патологические изменения, неопределяемые при обычном исследовании, а эндохирургические вмешательства позволяют
        не только наименее инвазивно удалить полипы, новообразования, воспалительный очаг, раскрыть околоносовые
        пазухи,
        но и сделать пациента более восприимчивым к топическим (с местным действием) медикаментозным препаратам
      </p>
    </section>

    <div class="diagnosis_wrapper">
      <section class="diagnosis container">
        <h4 class="section__title diagnosis__title">
          диагноз и лечение
        </h4>

        <div class="diagnosis__box">
          <h2 class="diagnosis__box_title">
            Постановка диагноза
            <span>и рекомендации по лечению</span>
          </h2>

          <p class="diagnosis__box_text">
            Врач обращает внимание на общее состояние пациента, цвет и состояние кожных покровов, поверхностных
            лимфоузлов. Каждый случай и лечение индивидуальны
          </p>
        </div>

        <div class="diagnosis__info">
          <div class="diagnosis__info_items">
            <span class="diagnosis__info_items-num">01</span>

            <p class="diagnosis__info_items-text">
              Специалист может назначить дополнительные исследования: анализ крови, мочи, мазков из ЛОР-органов,
              УЗИ-диагностика, компьютерная томография, иммунодиагностика, аудиометрия, рентгенография,
              ПЦР-диагностика,
              аллергопробы и так далее
            </p>
          </div>

          <div class="diagnosis__info_items">
            <span class="diagnosis__info_items-num">02</span>

            <p class="diagnosis__info_items-text">
              При выявлении патологии ЛОР-органов врач назначает медикаментозную терапию, местное выполнение
              показанных
              манипуляций или хирургическое лечение в сложных случаях
            </p>

            <a href="#" class="button btn-accent diagnosis__btn">
              Записаться на консультацию
              <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться на консультацию">
            </a>
          </div>
        </div>
      </section>
    </div>

    <section class="tools container">
      <h4 class="section__title tools__title">
        инструменты
      </h4>

      <div class="tools__box">
        <h2 class="tools__box_title">
          Передовое оборудование
          <span>европейского качества</span>
        </h2>
      </div>

      <div class="tools__info">
        <div class="swiper tools-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-slide__wrapper">
                <div class="swiper-slide__tools">
                  <h4 class="swiper-slide__tools_title">
                    Аудиометр поликлинический AD 226 Interacoustics, Дания
                  </h4>

                  <p class="swiper-slide__tools_text">
                    Предназначен для проведения дифференциальной диагностики слуха методами тональной аудиометрии
                    по воздуху и кости в поликлинических лечебных заведениях, медицинских центрах, профилактических
                    кабинетах
                  </p>
                </div>

                <img class="swiper-slide__tools_images" src="./images/tools/AD226Interacoustics.jpg"
                  alt="Аудиометр поликлинический AD 226 Interacoustics, Дания">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="swiper-slide__wrapper">
                <div class="swiper-slide__tools">
                  <h4 class="swiper-slide__tools_title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </h4>

                  <p class="swiper-slide__tools_text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure velit magnam unde autem saepe culpa
                    eveniet. Animi nemo quo possimus ips
                  </p>
                </div>

                <img class="swiper-slide__tools_images" src="./images/tools/AD226Interacoustics.jpg"
                  alt="Аудиометр поликлинический AD 226 Interacoustics, Дания">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="swiper-slide__wrapper">
                <div class="swiper-slide__tools">
                  <h4 class="swiper-slide__tools_title">
                    Maxime, debitis corrupti alias, amet, adipisci ad quis sed magni
                  </h4>

                  <p class="swiper-slide__tools_text">
                    Fugit aliquid unde dolorum tenetur dolorem nobis voluptas! Repellat expedita qui molestias illo.
                    Repellendus omnis doloribus nobis voluptas assumenda aliquid tenetur dolorem nobis voluptas!
                    Repellat expedita qui
                  </p>
                </div>

                <img class="swiper-slide__tools_images" src="./images/tools/AD226Interacoustics.jpg"
                  alt="Аудиометр поликлинический AD 226 Interacoustics, Дания">
              </div>
            </div>
          </div>
        </div>

        <div class="tools__navigation">
          <div class="tools__box_navigation">
            <div class="swiper-button-next tools-button-next"></div>
            <div class="swiper-button-prev tools-button-prev"></div>
          </div>

          <div class="swiper-pagination tools-swiper-pagination"></div>
        </div>
      </div>
    </section>

    <div class="promotions2_wrapper">
      <section class="promotions2 container">
        <h4 class="section__title promotions2__title">Акции</h4>

        <h2 class="section__title promotions2__header">
          Запишитесь на осмотр
          к оториноларингологу со скидкой 10%
        </h2>

        <form class="promotions2__form">
          <input class="promotions2__form-input" type="text" placeholder="Имя и Фамилия">

          <input class="promotions2__form-input" type="tel" placeholder="Номер телефона">

          <div class="promotions2__form-check">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox">

              <span>
                Я согласен
                <a href="#" target="_blank">
                  на обработку персональных данных
                </a>
              </span>
            </label>
          </div>

          <div class="promotions2__form-regist">
            <a href="#" class="button btn-white promotions__btn">
              Записаться на консультацию
              <img src="./images/general/ArrowNarrowRightOutline Darkaccent.png" alt="Записться на консультацию">
            </a>

            <div class="promotions2__form-regist_price">
              <span class="price__old">1800 &#8381</span>
              <span class="price__new">1620 &#8381</span>
            </div>
          </div>
        </form>
      </section>

      <div class="promotions2__image">
        <img src="./images/promotions/promotions2.jpg" alt="Записаться на консультацию">
      </div>
    </div>

    <div class="price_wrapper" id="price">
      <section class="price container">
        <h4 class="section__title price__title">
          услуги
        </h4>

        <div class="price__box">
          <h2 class="price__box_title">
            Стоимость ЛОР-услуг
          </h2>
        </div>

        <div class="price__bottom">
          <div class="accordion">
            <div class="accordion_item">
              <div class="accordion_item__trigger price__services services-title">
                <img src="./images/price/forum.png" alt="Прием и консультация врача">
                <p class="price__services-title">
                  Прием и консультация врача
                </p>
              </div>

              <div class="accordion_item__content price__services__wrapper">
                <div class="price__services">
                  <img src="./images/price/nose.png" alt="Нос и околоносовые пазухи">
                  <p class="price__services-text">
                    Нос и околоносовые пазухи. Лечебные и диагностические манипуляции
                  </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/nose.png" alt="Нос и околоносовые пазухи">
                  <p class="price__services-text">
                    Нос и околоносовые пазухи. Хирургическая помощь
                  </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/ears_nose_and_throat.png" alt="Глотка">
                  <p class="price__services-text">
                    Глотка. Лечебные и диагностические манипуляции </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/ears_nose_and_throat.png" alt="Глотка">
                  <p class="price__services-text">
                    Глотка. Хирургическая помощь
                  </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/endocrinology.png" alt="Гортань">
                  <p class="price__services-text">
                    Гортань. Лечебные и диагностические манипуляции </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/endocrinology.png" alt="Гортань">
                  <p class="price__services-text">
                    Гортань. Хирургическая помощь
                  </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/ear.png" alt="Ухо">
                  <p class="price__services-text">
                    Ухо. Лечебные и диагностические манипуляции
                  </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/ear.png" alt="Ухо">
                  <p class="price__services-text">
                    Ухо. Хирургическая помощь
                  </p>
                </div>

                <div class="price__services">
                  <img src="./images/price/clinical_f.png" alt="Прочее">
                  <p class="price__services-text">
                    Прочее
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="price__rate__wrapper">
            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">01</span>

                <p class="price__rate_items-text">
                  Приём (консультация) врача-оториноларинголога первичный
                </p>
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">1620</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>

            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">02</span>

                <p class="price__rate_items-text">
                  Приём (консультация) врача-оториноларинголога) повторный (в течение 1 месяца с тем же заболеванием)
                </p>
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">1200</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>

            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">03</span>

                <p class="price__rate_items-text">
                  Визит к врачу для оценки результатов обследования, дальнейшей тактики </p>
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">500</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>

            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">04</span>

                <p class="price__rate_items-text">
                  Приём (консультация) врача-оториноларинголога Иванова С.Л. первичный </p>
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">2100</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>

            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">05</span>

                <p class="price__rate_items-text">
                  Визит к врачу-оториноларингологу Иванову С.Л. для оценки результатов обследования, дальнейшей тактики
                </p>
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">1200</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>

            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">06</span>

                <p class="price__rate_items-text">
                  Осмотр оториноларинголога после операции </p>
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">300</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>

            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">07</span>

                <p class="price__rate_items-text">
                  Осмотр оториноларинголога профилактический с оформлением справки (дети) </p>
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">600</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>

            <div class="price__rate">
              <div class="price__rate_items">
                <span class="price__rate_items-num">08</span>

                <p class="price__rate_items-text">
                  Осмотр оториноларинголога профилактический с оформлением справки (взрослые) - МСЭ, беременные
              </div>

              <div class="price__rate_value">
                <span class="price__rate_value-num">500</span>

                <p class="price__rate_value-currency">
                  &#8381 </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="feedback container" id="feedback">
      <h4 class="section__title feedback__title">
        отзывы
      </h4>

      <div class="feedback__box">
        <h2 class="feedback__box_title">
          Пациенты
          <span>нас рекомендуют</span>
          своим близким и друзьям
        </h2>
      </div>

      <div class="feedback__box_navigation">
        <div class="feedback__box_navigation-btn">
          <div class="swiper-button-next feedback-button-next"></div>
          <div class="swiper-button-prev feedback-button-prev"></div>
        </div>
      </div>

      <div class="swiper feedback-swiper">
        <div class="swiper-wrapper feedback-swiper__slides">
          <div class="swiper-slide feedback-slide">
            <h3 class="feedback-slide__title">Иван Иванов, 40 лет</h3>

            <div class="feedback-slide__stars">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
            </div>

            <div class="read-more-container">
              <p class="feedback-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in morbi
                vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id diam
                maecenas donec. Sit diam turpis lorem sed tellus diam cras...
                <span class="moreText">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in
                  morbi vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id
                  diam maecenas donec.
                </span>
              </p>

              <span class="feedback-slide__btn read-more-btn">
                Читать полностью
              </span>
            </div>

            <div class="feedback-slide__box">
              <img class="feedback-slide__box-img" src="./images/feedback/feedback-photo1.png" alt="Врач фото">

              <div class="feedback-slide__box_info">
                <span class="feedback-slide__box_position">
                  Врач:
                </span>

                <span class="feedback-slide__box_name">
                  Иванов Сергей Львович
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide feedback-slide">
            <h3 class="feedback-slide__title">Иван Иванов, 40 лет</h3>

            <div class="feedback-slide__stars">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
            </div>

            <div class="read-more-container">
              <p class="feedback-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in morbi
                vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id diam
                maecenas donec. Sit diam turpis lorem sed tellus diam cras...
                <span class="moreText">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in
                  morbi vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id
                  diam maecenas donec.
                </span>
              </p>

              <span class="feedback-slide__btn read-more-btn">
                Читать полностью
              </span>
            </div>

            <div class="feedback-slide__box">
              <img class="feedback-slide__box-img" src="./images/feedback/feedback-photo1.png" alt="Врач фото">

              <div class="feedback-slide__box_info">
                <span class="feedback-slide__box_position">
                  Врач:
                </span>

                <span class="feedback-slide__box_name">
                  Иванов Сергей Львович
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide feedback-slide">
            <h3 class="feedback-slide__title">Иван Иванов, 40 лет</h3>

            <div class="feedback-slide__stars">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
            </div>

            <div class="read-more-container">
              <p class="feedback-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in morbi
                vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id diam
                maecenas donec. Sit diam turpis lorem sed tellus diam cras...
                <span class="moreText">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in
                  morbi vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id
                  diam maecenas donec.
                </span>
              </p>

              <span class="feedback-slide__btn read-more-btn">
                Читать полностью
              </span>
            </div>

            <div class="feedback-slide__box">
              <img class="feedback-slide__box-img" src="./images/feedback/feedback-photo1.png" alt="Врач фото">

              <div class="feedback-slide__box_info">
                <span class="feedback-slide__box_position">
                  Врач:
                </span>

                <span class="feedback-slide__box_name">
                  Иванов Сергей Львович
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide feedback-slide">
            <h3 class="feedback-slide__title">Иван Иванов, 40 лет</h3>

            <div class="feedback-slide__stars">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
            </div>

            <div class="read-more-container">
              <p class="feedback-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in morbi
                vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id diam
                maecenas donec. Sit diam turpis lorem sed tellus diam cras...
                <span class="moreText">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in
                  morbi vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id
                  diam maecenas donec.
                </span>
              </p>

              <span class="feedback-slide__btn read-more-btn">
                Читать полностью
              </span>
            </div>

            <div class="feedback-slide__box">
              <img class="feedback-slide__box-img" src="./images/feedback/feedback-photo1.png" alt="Врач фото">

              <div class="feedback-slide__box_info">
                <span class="feedback-slide__box_position">
                  Врач:
                </span>

                <span class="feedback-slide__box_name">
                  Иванов Сергей Львович
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide feedback-slide">
            <h3 class="feedback-slide__title">Иван Иванов, 40 лет</h3>

            <div class="feedback-slide__stars">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
              <img class="feedback-slide__stars-img" src="./images/feedback/star.svg" alt="star">
            </div>

            <div class="read-more-container">
              <p class="feedback-slide__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in morbi
                vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id diam
                maecenas donec. Sit diam turpis lorem sed tellus diam cras...
                <span class="moreText">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec non tempor amet leo lacus purus in
                  morbi vestibulum. Tempor facilisis nunc sapien gravida mauris, sed. Malesuada donec vel aliquet id
                  diam maecenas donec.
                </span>
              </p>

              <span class="feedback-slide__btn read-more-btn">
                Читать полностью
              </span>
            </div>

            <div class="feedback-slide__box">
              <img class="feedback-slide__box-img" src="./images/feedback/feedback-photo1.png" alt="Врач фото">

              <div class="feedback-slide__box_info">
                <span class="feedback-slide__box_position">
                  Врач:
                </span>

                <span class="feedback-slide__box_name">
                  Иванов Сергей Львович
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="feedback-swiper__mobile">
        <div class="swiper-pagination feedback-swiper-pagination"></div>

        <div class="swiper-button-next feedback-button-next feedback_btn"></div>
        <div class="swiper-button-prev feedback-button-prev feedback_btn"></div>
      </div>
    </section>

    <section class="video__feedback container">
      <div class="video__feedback__box_navigation">
        <div class="video__feedback__box_navigation-btn">
          <div class="swiper-button-next video__feedback-button-next"></div>
          <div class="swiper-button-prev video__feedback-button-prev"></div>
        </div>
      </div>

      <div class="swiper video__feedback-swiper">
        <div class="swiper-wrapper video__feedback-swiper__slides">
          <div class="swiper-slide video__feedback-slide">
            <div class="video__feedback-wrap">
              <img class="video__feedback-wrap__video" src="./images/feedback/video1.jpg" alt="">
            </div>
          </div>

          <div class="swiper-slide video__feedback-slide">
            <div class="video__feedback-wrap">
              <img class="video__feedback-wrap__video" src="./images/feedback/video2.jpg" alt="">
            </div>
          </div>

          <div class="swiper-slide video__feedback-slide">
            <div class="video__feedback-wrap">
              <img class="video__feedback-wrap__video" src="./images/feedback/video2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="video__feedback-swiper__mobile">
        <div class="swiper-pagination video__feedback-swiper-pagination"></div>

        <div class="swiper-button-next video__feedback-button-next video__btn"></div>
        <div class="swiper-button-prev video__feedback-button-prev video__btn"></div>
      </div>

      <a href="#" class="button btn-accent video__feedback__btn">
        Записаться на консультацию
        <img src="./images/general/ArrowNarrowRightOutline.png" alt="Записться на консультацию">
      </a>
    </section>

    <div class="photogallery_wrapper">
      <section class="photogallery container">
        <div class="photogallery__box_wrapper">
          <div class="swiper photogallery-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide photogallery-slide">
                <img src="./images/photogallery/photogallery1.jpg" alt="Фото">
              </div>

              <div class="swiper-slide photogallery-slide">
                <img src="./images/photogallery/photogallery2.jpg" alt="Фото">
              </div>

              <div class="swiper-slide photogallery-slide">
                <img src="./images/photogallery/photogallery3.jpg" alt="Фото">
              </div>

              <div class="swiper-slide photogallery-slide">
                <img src="./images/photogallery/photogallery4.jpg" alt="Фото">
              </div>

              <div class="swiper-slide photogallery-slide">
                <img src="./images/photogallery/photogallery3.jpg" alt="Фото">
              </div>
            </div>
          </div>

          <div class="photogallery-box">
            <h4 class="section__title photogallery__title">фотогалерея</h4>

            <h2 class="section__title photogallery__header">
              Чистые современные кабинеты
              <span>и новейшее оборудование</span>
            </h2>

            <p class="photogallery__text">
              Наш центр является современной многопрофильной клиникой, охватывающей больше 20 направлений медицины,
              в том числе оториноларингологию
            </p>

            <div class="photogallery__control">
              <div class="swiper-button-next photogallery__button-next photogallery__btn"></div>
              <div class="swiper-button-prev photogallery__button-prev photogallery__btn"></div>
            </div>

            <div class="photogallery-mini-wraper">
              <div class="mini-photogallery">
                <img src="./images/photogallery/photo2.jpg" alt="Фото">
              </div>

              <div class="mini-photogallery">
                <img src="./images/photogallery/photo3.jpg" alt="Фото">
              </div>

              <div class="mini-photogallery">
                <img src="./images/photogallery/photo4.jpg" alt="Фото">
              </div>

              <div class="mini-photogallery">
                <img src="./images/photogallery/photo5.jpg" alt="Фото">
              </div>
            </div>
          </div>
        </div>

        <div class="photogallery_swiper__mobile">
          <div class="swiper-button-next photogallery__button-next photogallery__btn"></div>
          <div class="swiper-button-prev photogallery__button-prev photogallery__btn"></div>

          <div class="swiper-pagination photogallery__swiper-pagination"></div>
        </div>
      </section>
    </div>

    <div class="promotions_wrapper">
      <section class="promotions container">
        <h4 class="section__title promotions__title">Консультация</h4>

        <h2 class="section__title promotions__header">
          Запишитесь на осмотр к лору
        </h2>

        <form class="promotions__form">
          <input class="promotions__form-input" type="text" placeholder="Имя и Фамилия">

          <input class="promotions__form-input" type="tel" placeholder="Номер телефона">

          <div class="promotions__form-check">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox">

              <span>
                Я согласен
                <a href="#" target="_blank">
                  на обработку персональных данных
                </a>
              </span>
            </label>
          </div>

          <div class="promotions__form-regist">
            <a href="#" class="button btn-white promotions__btn">
              Записаться на консультацию
              <img src="./images/general/ArrowNarrowRightOutline Darkaccent.png" alt="Записться на консультацию">
            </a>

            <div class="promotions__form-regist_price">
              <span class="price__old">1800 &#8381</span>
              <span class="price__new">1620 &#8381</span>
            </div>
          </div>
        </form>
      </section>

      <div class="promotions__image">
        <img src="./images/promotions/promotions3.jpg" alt="Записаться на консультацию">
      </div>

    </div>

    <div class="contacts_wrapper">
      <section class="contacts container">
        <h4 class="contacts__title diagnosis__title">
          контакты
        </h4>

        <div class="contacts__box">
          <h2 class="contacts__box_title">
            В клинике STK
            <span>вам всегда рады!</span>
          </h2>

          <p class="contacts__box_text">
            Наш медицинский центр благодарен за ваше доверие. Мы стремимся добиться безупречности во всем: от встречи
            пациентов до результатов завершённого лечения
          </p>
        </div>
      </section>

      <div class="contacts__info">
        <div class="contacts__info_items">
          <span class="contacts__info_items-title">
            Телефон
          </span>

          <div class="contacts__info_items-info">
            <a href="tel:88462125060" class="contacts__info_items-info-phone">
              <img src="./images//contacts/call.svg" alt="Позвонить">
              8 (846) 212-50-60
            </a>
          </div>

          <span class="contacts__info_items-title">
            Адрес
          </span>

          <span class="contacts__info_items-info">
            <address class="contacts__info_items-info-address">
              <img src="./images/contacts/address.svg" alt="Адрес">
              г. Самара, ул. Тухачевского, д.80, оф.1
            </address>
          </span>

          <span class="contacts__info_items-title">
            Режим работы
          </span>

          <span class="contacts__info_items-info">
            <img src="./images/contacts/clock.svg" alt="Режим работы">

            <span class="contacts__info_items-info-schedule">
              <span>ПН - ПТ: с 08.00 до 20.00</span>
              <span>СБ: с 08.00 до 16.00</span>
            </span>
          </span>

          <span class="contacts__info_items-title">
            EMAIL
          </span>

          <span class="contacts__info_items-info">
            <span class="contacts__info_items-info-mail">
              <img src="./images/contacts/mail.svg" alt="Написать на E-mail">
              info@stk-clinic.ru
            </span>
          </span>
        </div>

        <div class="contacts__info_socials">
          <a class="contacts__info_socials-item" href="#">
            <img src="./images/contacts/vk.png" alt="VKontakte">
          </a>

          <a class="contacts__info_socials-item" href="#">
            <img src="./images/contacts/whatsapp.png" alt="Whats App">
          </a>

          <a class="contacts__info_socials-item" href="#">
            <img src="./images/contacts/youtube.png" alt="YouTube">
          </a>

          <a class="contacts__info_socials-item" href="#">
            <img src="./images/contacts/viber.png" alt="Viber">
          </a>
        </div>
      </div>

      <div class="contacts_map" id="map"></div>
      <div class="contacts_map-mobile" id="map-mobile"></div>

    </div>
  </main>

  {% include "templates/_base/_footer.html" %}
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>"></script>

  <script src="./js/index.min.js"></script>
</body>

</html>